// === Variables ===
$color-white: #ffffff;
$color-pink: #fe4fa7;
$color-orange:#fe985b;
$main-color: #414141;

// === /Variables ===

// === Common ===
@import 'normilize';
@font-face {
    font-family: 'Lato';
    src: local('Lato Light'), local('Lato-Light'), url('../font/latolight.woff2') format('woff2'), url('../font/latolight.woff') format('woff'), url('../font/latolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Regular'), local('Lato-Regular'), url('../font/latoregular.woff2') format('woff2'), url('../font/latoregular.woff') format('woff'), url('../font/latoregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Bold'), local('Lato-Bold'), url('../font/latobold.woff2') format('woff2'), url('../font/latobold.woff') format('woff'), url('../font/latobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.section-inner {
    max-width: 1180px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
}

.section-outer {
    padding-right: 20px;
    padding-left: 20px;
}

.flex-container {
    display: flex;
}

.description-item {
    .icon{
        margin-bottom: 20px;
    }
    .title{
        margin-bottom: 14px;
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
        color:$main-color;
    }

    .text{
        font-size: 16px;
        line-height: 27px;
        font-weight: 300;
        color:$main-color;
    }
}

.btn-start{
    font-size: 16px;
    margin: 0;
    padding: 16px 20px;
    outline: none;
    border-radius: 4px;
    cursor:pointer;
    text-decoration: none;
    display: inline-block;

    &.btn-main{
        background: linear-gradient(to right,$color-orange,$color-pink);
        color: white;
        border:none;
        
        &:hover{
            background:linear-gradient(to left,$color-orange,$color-pink)
        }
    }

    &.btn-secondary{
        background: $color-white;
        color:$main-color;
        border:1px solid $main-color;
        transition: 0.2s;
        &:hover {
            color:$color-pink;
            border-color:$color-pink;
        }
    }

    &.btn-free{
        background: $color-white;
        color:$main-color;
        border:none;
        &:hover {
            color:$color-pink;
        }
    }
}
// === /Common ===

//  === Header ===
.section-header{
    color: $color-white;
    background: url('../img/bg-header.jpg') no-repeat top;
    background-size: cover;
    position: relative;

    .section-inner {
        height: 100vh;
        position: relative;
        z-index: 10;
        flex-direction: column;
    }

    &::before {
        content:"";
        position: absolute;
        top:0;
        bottom:0;
        right: 0;
        left: 0;
        background-color: #142729;
        opacity: 0.5;

    }

    .wrapper {
        margin: 0 auto;
        text-align: center;
    }
    .logo {
        font-weight: 700;
        font-size: 24px;
        flex-shrink: 1;
        padding-top: 35px;
    }

    .header-content {
        flex-grow: 1;
        align-items: center;

        &-title {
            font-weight: 700px;
            font-size: 55px;
            line-height: 60px;
            margin-bottom: 16px;
        }

        &-subtitle {
            font-size: 18px;
            line-height: 32px;
            margin: 0 auto 44px;
            width: 80%;
        }

        &-form {
            .form-input{
                flex-grow: 1;
                padding-right: 40px;
                input {
                    width: 100%;
                    border: none;
                    background: rgba(255,255,255,.25);
                    color: white;
                    font-size: 16px;
                    margin: 0;
                    padding: 16px 20px;
                    outline: none;
                    border-radius: 4px;
                    transition: 0.2s;;

                    &::placeholder {
                        color: white;
                    }
                    &:focus {
                        background: rgba(255,255,255,.5);
                    }
                }
            }
            .form-button{
            }
        }
    }
}
//  === /Header ===

//  === Promo ===
.section-promo{
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-promo-1 {
    .promo-content, .video {
        flex-basis: 50%;
    }
    .promo-content{
        &-title{
            font-size: 36px;
            line-height: 51px;
            font-weight: 700;
            color:$main-color;
            margin-bottom: 56px;
        }

        .description-item {
            margin-top: 28px;
        }
    }
    .video{
        img {
            margin:30px auto;
            display: block;
            width: 95%;
            height: auto;
        }
    }
}

.section-promo-2 {
    display: flex;
    padding-top: 86px;
    border-top: 1px solid #e2e2e2;
    margin-top: 120px;
    text-align: center;

    .description-item + .description-item{
        margin-left: 40px;
    }
}
//  === /Promo ===

//  === Founder ===
.section-founder{
    padding-top:34px;
    background-color: #f6fafd; 
    .section-inner{
        align-items:center;
    }
    .founder-img{
        align-self: flex-end;
    }
    .founder-content{
        color:$main-color; 
        padding-left:64px;
        width:52%;      
        &-text{
            font-size: 24px;
            line-height:40px;
            margin-bottom:44px;
        }
        &-name{
            font-size: 24px;
            line-height:29px;
            font-weight: 700;
        }
        &-post{
            font-size: 20px;
            line-height:29px;
        }
    }
}
//  === /Founder ===

//  === Plans ===
.section-plans{
    padding-top: 120px;
    padding-bottom:120px;
    text-align: center;

    .plans-title{
        font-size: 36px;
        line-height:51px;
        font-weight:700;
    }
    .plans-subtitle{
        font-size: 16px;
        line-height:28px;
        font-weight:300;
        margin:0 auto 110px;
        width: 50%;
    }
    .plans-list{
        justify-content: center;
        &-item{
            flex-basis: 370px;
            padding:60px 45px;
            .item-title{
                font-size: 14px;
                line-height:17px;
                font-weight:700;
                text-transform: uppercase;
                margin-bottom: 26px;
            }
            .item-price{
                font-weight:700;
                margin-bottom: 26px;
                .prefix{
                    color:$color-pink;
                    font-size: 72px;
                    line-height:86px;
                }
                .postfix{
                    color:$main-color;
                    font-size: 14px;
                    line-height:17px;
                }
            }
            .item-description{
                font-size: 16px;
                line-height:28px;
                font-weight:300;
                margin-bottom: 50px;
            }
            .item-button{}

            &.active {
                background-color: #f6fafd; 
            }
        }
    }
}
//  === /Plans ===

//  === Free ===
.section-free{
    color:white;
    text-align:center;
    background: linear-gradient(to right, $color-orange,$color-pink);
    padding-top: 120px;
    padding-bottom: 120px;
    .free-title{
        font-size: 55px;
        line-height:60px;
        font-weight:700;
        margin-bottom: 26px;
    }
    .free-description{
        font-size: 20px;
        line-height:30px;
        width: 50%;
        margin: 0 auto 40px;
    }
}
//  === /Free ===

//  === Footer ===
.section-footer{
    padding-top: 80px;
    padding-bottom: 80px;
    .footer-logo{
        text-align:center;
        font-size: 24px;
        line-height:29px;
        font-weight: 700;
        margin-bottom: 30px;
    }
    .footer-nav{
        margin-bottom: 75px;


        &-wrapper {
            justify-content: center;
            padding:0;
            list-style: none;
            margin:0;
    
            li {
                &+li {
                    margin-left: 60px;
                }
    
                a{
                    font-size: 14px;
                    line-height:20px;
                    font-weight: 700;
                    text-transform:uppercase;
                    color:#464646;
                    text-decoration: none;
                    transition:0.2s;
                    &.active, &:hover {
                        color:$color-pink;
                    }
                }
            }
        }
    }

    .footer-copyright-and-links{
        justify-content: space-between;
        font-size: 14px;
        line-height:18px;
        width: 60%;
        margin: 0 auto;
        color:#464646;

        .helper-link{
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                &+li {
                    margin-left: 20px;
                }
    
                a{
                    text-decoration: none;
                    color:#464646;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
//  === /Footer ===
